*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.up{
    height: 80px;
}

.down_selector{
    height: 80px;
    background-color: #29B1DD;
    text-align: center;
    line-height: 50px;
}

.container{

    display: flex;
    flex-wrap: wrap;
}

.rettangolo{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    margin: 5px;
}

